.built-in-brushes {
  padding-top: 5px;
}

.built-in-brush {
  height: 12px;
  width: 12px;
  border-style: none;
  padding: 0;
  margin: 0;
  vertical-align: top;
  outline: none;
}

.brush1 {
  background: url(../../resources/brushPixel.png) no-repeat;
}

.brush1--selected {
  background: url(../../resources/brushPixelActive.png) no-repeat;
}

.brush2 {
  background: url(../../resources/brushBuiltInCross.png) no-repeat;
}

.brush2--selected {
  background: url(../../resources/brushBuiltInCrossActive.png) no-repeat;
}

.brush3 {
  background: url(../../resources/brushBuiltInDot1.png) no-repeat;
}

.brush3--selected {
  background: url(../../resources/brushBuiltInDot1Active.png) no-repeat;
}

.brush4 {
  background: url(../../resources/brushBuiltInDot2.png) no-repeat;
}

.brush4--selected {
  background: url(../../resources/brushBuiltInDot2Active.png) no-repeat;
}
