.built-in-brushes-container {
  border: 1px solid white;
}

.built-in-brushes {
  background: white;
  display: grid;
  grid-template-rows: 20px;
}

.built-in-brushes-dots {
  grid-template-columns: 20% 20% 30% 30%;
}

.built-in-brushes-squares {
  grid-template-columns: 30% 30% 20% 20%;
}

.built-in-brushes-dithers {
  grid-template-columns: 40% 60%;
}

.built-in-brush-div {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.built-in-brush-bg {
  background: white;
  fill: black;
}

.built-in-brush-bg--selected {
  background: black;
  fill: white;
}

.built-in-brush-svg {
  padding: 0px;
  border: 0px;
  width: 100%;
  height: 100%;
  fill: inherit;
}
