.toolbox {
  display: grid;
  grid-template-columns: 40px 1px 40px;
  grid-auto-rows: 40px;
  background-color: #efeff1;
}

.toolbox-button-divider {
  border: none;
  padding: 0;
  margin: 0;
  vertical-align: top;
  outline: none;
  width: 1px;
  background-image: linear-gradient(180deg, #efeff1, gray, #efeff1);
}

.toolbox__button {
  position: absolute;
  border: none;
  padding: 0;
  margin: 0;
  vertical-align: top;
  outline: none;
  height: 100%;
  width: 100%;
}

.toolbox_button_color {
  position: absolute;
  box-sizing: border-box;
  padding: none;
  margin: 0;
  border: 3px solid #efeff1;
  background-color: black;
  height: 100%;
  width: 100%;
}

.toolbox_button_color_hover {
  background-color: #004fa1;
}

.toolbox_dual_toggle_button_color_upper_hover {
  background: linear-gradient(135deg, #004fa1 52%, rgb(116, 116, 116) 52% 100%);
  /*background: linear-gradient(135deg, #004fa1 0% 25%, darkgrey 75% 100%)*/
}

.toolbox_dual_toggle_button_color_lower_hover {
  background: linear-gradient(135deg, rgb(116, 116, 116) 48%, #004fa1 48% 100%);
  /*background: linear-gradient(135deg, darkgrey 0% 25%, #004fa1 75% 100%)*/
}

.toolbox_button_container {
  position: relative;
  box-sizing: border-box;
  padding: none;
  margin: 0;
  border: none;
  background-color: transparent;
}

.toolbox__button--dottedfreehand {
  background: url(../../resources/toolbar.svg#dotted-freehand-view) no-repeat;
}

.toolbox__button--dottedfreehand-selected {
  background: url(../../resources/toolbar.svg#dotted-freehand-active-view) no-repeat;
}

.toolbox__button--freehand {
  background: url(../../resources/toolbar.svg#freehand-view) no-repeat;
}

.toolbox__button--freehand-selected {
  background: url(../../resources/toolbar.svg#freehand-active-view) no-repeat;
}

.toolbox__button--line {
  background: url(../../resources/toolbar.svg#line-view) no-repeat;
}

.toolbox__button--line-selected {
  background: url(../../resources/toolbar.svg#line-active-view) no-repeat;
}

.toolbox__button--curve {
  background: url(../../resources/toolbar.svg#curve-view) no-repeat;
}

.toolbox__button--curve-selected {
  background: url(../../resources/toolbar.svg#curve-active-view) no-repeat;
}

.toolbox__button--airbrush {
  background: url(../../resources/toolbar.svg#airbrush-view) no-repeat;
}

.toolbox__button--airbrush-selected {
  background: url(../../resources/toolbar.svg#airbrush-active-view) no-repeat;
}

.toolbox__button--floodfill {
  background: url(../../resources/toolbar.svg#floodfill-view) no-repeat;
}

.toolbox__button--floodfill-selected {
  background: url(../../resources/toolbar.svg#floodfill-active-view) no-repeat;
}

.toolbox__button--rectangle {
  background: url(../../resources/toolbar.svg#rectangle-view) no-repeat;
}

.toolbox__button--rectangle-lower-half-selected {
  background: url(../../resources/toolbar.svg#rectangle-filled-active-view) no-repeat;
}

.toolbox__button--rectangle-upper-half-selected {
  background: url(../../resources/toolbar.svg#rectangle-nofill-active-view) no-repeat;
}

.toolbox__button--circle {
  background: url(../../resources/toolbar.svg#circle-view) no-repeat;
}

.toolbox__button--circle-lower-half-selected {
  background: url(../../resources/toolbar.svg#circle-filled-active-view) no-repeat;
}

.toolbox__button--circle-upper-half-selected {
  background: url(../../resources/toolbar.svg#circle-nofill-active-view) no-repeat;
}

.toolbox__button--ellipse {
  background: url(../../resources/toolbar.svg#ellipse-view) no-repeat;
}

.toolbox__button--ellipse-lower-half-selected {
  background: url(../../resources/toolbar.svg#ellipse-filled-active-view) no-repeat;
}

.toolbox__button--ellipse-upper-half-selected {
  background: url(../../resources/toolbar.svg#ellipse-nofill-active-view) no-repeat;
}

.toolbox__button--polygon {
  background: url(../../resources/toolbar.svg#polygon-view) no-repeat;
}

.toolbox__button--polygon-lower-half-selected {
  background: url(../../resources/toolbar.svg#polygon-filled-active-view) no-repeat;
}

.toolbox__button--polygon-upper-half-selected {
  background: url(../../resources/toolbar.svg#polygon-nofill-active-view) no-repeat;
}

.toolbox__button--text {
  background: url(../../resources/toolbar.svg#text-view) no-repeat;
}

.toolbox__button--text-lower-half-selected {
  background: url(../../resources/toolbar.svg#text-filled-active-view) black no-repeat;
}

.toolbox__button--text-upper-half-selected {
  background: url(../../resources/toolbar.svg#text-nofill-active-view) black no-repeat;
}

.toolbox__button--zoom {
  background: url(../../resources/toolbar.svg#zoom-view) no-repeat;
}

.toolbox__button--zoom-selected {
  background: url(../../resources/toolbar.svg#zoom-active-view) no-repeat;
}

.toolbox__button--symmetry {
  background: url(../../resources/toolbar.svg#symmetry-view) no-repeat;
}

.toolbox__button--symmetry-selected {
  background: url(../../resources/toolbar.svg#symmetry-active-view) no-repeat;
}

.toolbox__button--brushselect {
  background: url(../../resources/toolbar.svg#brush-selector-view) no-repeat;
}

.toolbox__button--brushselect-selected {
  background: url(../../resources/toolbar.svg#brush-selector-active-view) no-repeat;
}

.toolbox__button--undo {
  background: url(../../resources/toolbar.svg#undo-view) no-repeat;
}

.toolbox__button--undo:active {
  background: url(../../resources/toolbar.svg#undo-active-view) #004fa1 no-repeat;
}

.toolbox__button--clr {
  background: url(../../resources/toolbar.svg#clr-view) no-repeat;
}

.toolbox__button--clr:active {
  background: url(../../resources/toolbar.svg#clr-active-view) #004fa1 no-repeat;
}

.toolbox_button_color_active {
  background-color: #004fa1;
}
