@import url('https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap');

.palette-editor__container {
  display: flex;
  align-items: stretch;
  justify-content: space-around;
}

.palette-editor__palette-container {
  display: flex;
  width: 50px;
  flex-direction: column;
  margin: 10%;
}

.palette-editor__sliders {
  padding: 35px;
  height: 200px;
  display: flex;
}
