@import url('https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap');

.palette-editor__container {
  display: flex;
  align-items: stretch;
  justify-content: space-around;
}

.palette-editor__palette-container {
  display: flex;
  width: 50px;
  flex-direction: column;
  margin: 10%;
}

.palette-editor__sliders {
  padding: 35px;
  height: 200px;
  display: flex;
  gap: 30px;
}

.palette-editor__slider {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}

.palette-editor__slider-label {
  font-family: 'Press Start 2P';
  -webkit-font-smoothing: none;
  font-size: 16px;
  color: black;
}
