.ToolbarButton {
  height: 35px;
  width: 35px;
  border-color: black;
  border-style: solid;
  border-width: 1px;
  padding: 0;
  margin: 0;
  vertical-align: top;
  outline: none;
}

.Freehand {
  background: url(../../resources/FreehandButton.svg) no-repeat;
}

.FreehandSelected {
  background: url(../../resources/FreehandButtonActive.svg) no-repeat;
}

.Line {
  background: url(../../resources/lineButton.svg) no-repeat;
}

.LineSelected {
  background: url(../../resources/lineButtonActive.svg) no-repeat;
}

.Rectangle {
  background: url(../../resources/rectangleButton.svg) no-repeat;
}

.RectangleSelected {
  background: url(../../resources/rectangleButtonLowerActive.svg) no-repeat;
}

.FloodFill {
  background: url(../../resources/floodfillButton.svg) no-repeat;
}

.FloodFillSelected {
  background: url(../../resources/floodfillButtonActive.svg) no-repeat;
}

.Zoom {
  background: url(../../resources/zoomButton.svg) no-repeat;
}

.ZoomSelected {
  background: url(../../resources/zoomButtonActive.svg) no-repeat;
}

.BrushSelect {
  background: url(../../resources/captureBrush.svg) no-repeat;
}

.BrushSelectSelected {
  background: url(../../resources/captureBrushActive.svg) no-repeat;
}

.Undo {
  background: url(../../resources/undoButton.png) no-repeat;
}

.Undo:active {
  background: url(../../resources/undoButtonActive.png) no-repeat;
}

.CLR {
  background: url(../../resources/clrButton.png) no-repeat;
}

.CLR:active {
  background: url(../../resources/clrButtonActive.png) no-repeat;
}
