.ToolbarButton {
  height: 25px;
  width: 25px;
  border-color: black;
  border-style: solid;
  border-width: 1px;
  padding: 0;
  margin: 0;
  vertical-align: top;
  outline: none;
}

.Freehand {
  background: url(../../resources/freehandButton.png) no-repeat;
}

.FreehandSelected {
  background: url(../../resources/freehandButtonActive.png) no-repeat;
}

.Line {
  background: url(../../resources/lineButton.png) no-repeat;
}

.LineSelected {
  background: url(../../resources/lineButtonActive.png) no-repeat;
}

.FloodFill {
  background: url(../../resources/floodFillButton.png) no-repeat;
}

.FloodFillSelected {
  background: url(../../resources/floodFillButtonActive.png) no-repeat;
}

.Zoom {
  background: url(../../resources/zoomButton.png) no-repeat;
}

.ZoomSelected {
  background: url(../../resources/zoomButtonActive.png) no-repeat;
}

.Undo {
  background: url(../../resources/undoButton.png) no-repeat;
}

.Undo:active {
  background: url(../../resources/undoButtonActive.png) no-repeat;
}

.CLR {
  background: url(../../resources/clrButton.png) no-repeat;
}

.CLR:active {
  background: url(../../resources/clrButtonActive.png) no-repeat;
}
