.toolboxbutton {
  height: 35px;
  width: 35px;
  border-color: black;
  border-style: solid;
  border-width: 1px;
  padding: 0;
  margin: 0;
  vertical-align: top;
  outline: none;
}

.toolboxbutton--freehand {
  background: url(../../../resources/FreehandButton.svg) no-repeat;
}

.toolboxbutton--freehand-selected {
  background: url(../../../resources/FreehandButtonActive.svg) no-repeat;
}

.toolboxbutton--line {
  background: url(../../../resources/lineButton.svg) no-repeat;
}

.toolboxbutton--line-selected {
  background: url(../../../resources/lineButtonActive.svg) no-repeat;
}

.toolboxbutton--curve {
  background: url(../../../resources/curveButton.svg) no-repeat;
}

.toolboxbutton--curve-selected {
  background: url(../../../resources/curveButtonActive.svg) no-repeat;
}

.toolboxbutton--floodfill {
  background: url(../../../resources/floodfillButton.svg) no-repeat;
}

.toolboxbutton--floodfill-selected {
  background: url(../../../resources/floodfillButtonActive.svg) no-repeat;
}

.toolboxbutton--rectangle {
  background: url(../../../resources/rectangleButton.svg) no-repeat;
}

.toolboxbutton--rectangle-lower-half-selected {
  background: url(../../../resources/rectangleButtonFilledActive.svg) no-repeat;
}

.toolboxbutton--rectangle-upper-half-selected {
  background: url(../../../resources/rectangleButtonNoFillActive.svg) no-repeat;
}

.toolboxbutton--circle {
  background: url(../../../resources/circleButton.svg) no-repeat;
}

.toolboxbutton--circle-lower-half-selected {
  background: url(../../../resources/circleButtonFilledActive.svg) no-repeat;
}

.toolboxbutton--circle-upper-half-selected {
  background: url(../../../resources/circleButtonNoFillActive.svg) no-repeat;
}

.toolboxbutton--ellipse {
  background: url(../../../resources/ellipseButton.svg) no-repeat;
}

.toolboxbutton--ellipse-lower-half-selected {
  background: url(../../../resources/ellipseButtonFilledActive.svg) no-repeat;
}

.toolboxbutton--ellipse-upper-half-selected {
  background: url(../../../resources/ellipseButtonNoFillActive.svg) no-repeat;
}

.toolboxbutton--zoom {
  background: url(../../../resources/zoomButton.svg) no-repeat;
}

.toolboxbutton--zoom-selected {
  background: url(../../../resources/zoomButtonActive.svg) no-repeat;
}

.toolboxbutton--symmetry {
  background: url(../../../resources/symmetryButton.svg) no-repeat;
}

.toolboxbutton--symmetry-selected {
  background: url(../../../resources/symmetryButtonActive.svg) no-repeat;
}

.toolboxbutton--brushselect {
  background: url(../../../resources/captureBrush.svg) no-repeat;
}

.toolboxbutton--brushselect-selected {
  background: url(../../../resources/captureBrushActive.svg) no-repeat;
}

.toolboxbutton--undo {
  background: url(../../../resources/undoButton.png) no-repeat;
}

.toolboxbutton--undo:active {
  background: url(../../../resources/undoButtonActive.png) no-repeat;
}

.toolboxbutton--clr {
  background: url(../../../resources/clrButton.png) no-repeat;
}

.toolboxbutton--clr:active {
  background: url(../../../resources/clrButtonActive.png) no-repeat;
}
