.app {
  height: 100vh;
  display: flex;
  flex-flow: column;
  overflow: hidden; /* never show a scrollbar here */
}

.canvas-toolbox-container {
  display: flex;
  flex-grow: 1; /* take up all remaining vertical space */
  justify-content: space-between; /* keeps canvas attached to the left and toolbox to the right side of window */
  overflow: hidden; /* never show a scrollbar here */
  background-color: black;
}

.canvas-container {
  display: flex;
  overflow: hidden; /* never show a scrollbar here */
  flex-grow: 1;     /* take up all remaining horizontal space */
}

.toolbox-container {
  width: min-content; /* always same width as the content (toolbox) */
  overflow: hidden; /* never show a scrollbar here */
}
