.app {
  height: 100%;
  display: grid;
  grid-template-areas:
    'menubar menubar'
    'canvas builtinbrushes'
    'canvas toolbox'
    'canvas colorindicator'
    'canvas palette'
    'canvas .';
}

.canvas-area {
  grid-area: canvas;
  overflow: hidden;
  display: flex;
  cursor: url(../resources/cursorCrossHair2.png) 14 14, auto;
}