@import url('https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap');

.modal {
  font-family: 'Press Start 2P';
  font-size: medium;
  color: white;
  background-color: rgba(17, 51, 202, 0.9);
  margin: 0 auto;
  border-radius: 10px;
  text-align: center;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-description {
  margin: 40px 20px 20px 20px;
}

.modal-description > p {
  text-align: left;
}

.modal-header {
  padding-top: 0px;
  margin: 0px;
  background-color: white;
  color: rgba(17, 51, 202, 0.9);
  border-radius: 10px 10px 0 0;
}

.modal-header > p {
  padding: 5px;
  margin: 0px;
}

.modal > button {
  font-family: 'Press Start 2P';
  color: white;
  font-size: large;
  background-color: transparent;
  border: none;
  padding: 30px 30px 20px 30px;
  outline: none;
}

.modal > button:hover {
  color: orange;
}
