@import url('https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap');

.menubar {
  border-bottom: 1px solid black;
  margin-bottom: 1px solid;
  font-family: 'Press Start 2P';
  display: grid;
  grid-template-areas: 'title modeIndicator .';
  font-size: 16px;
  user-select: none;
}

.menubar__title {
  grid-area: title;
  margin: 10px;
}

.menubar__mode-indicator {
  grid-area: modeIndicator;
  margin: 10px;
}

.menu {
  height: 0%;
  width: 100%;
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 36px;
  font-family: 'Press Start 2P';
  background-color: rgb(201, 201, 201); /* fallback color */
  background-color: rgba(17, 51, 202, 0.9);
  overflow-y: hidden; /* Disable vertical scroll */
  transition: 0.3s;
  display: flex;
  margin: 0 auto;
}

/* Position the content inside the overlay */
.menu__content {
  display: grid;
  grid-template-areas: 'image-header brush-header mode-header';
  margin-left: 20px;
  width: 100%;
  margin-top: 20px;
}

.menu__header {
  border-bottom: white;
  padding-bottom: 5px;
  font-size: 32px;
  color: #ffffff;
  margin-left: 30px;
  margin-right: 20px;
  margin-bottom: 15px;
}

.menu__item {
  display: flex;
}

.menu__item-is-selected {
  font-size: 24px;
  width: 30px;
  color: #ffffff;
}

.menu__item-label {
  text-decoration: none;
  font-size: 24px;
  color: #ffffff;
  margin-right: 20px;
  margin-bottom: 10px;
  transition: 0.1s; /* Transition effects on hover (color) */
}

.menu__item-label:hover {
  color: #ff9900;
}

.menu__image {
  grid-area: 'image-header';
}

.menu__brush {
  grid-area: 'brush-header';
}

.menu__mode {
  grid-area: 'mode-header';
}

.closeButtonDiv {
  width: auto;
  margin-right: 10px;
  margin-top: 10px;
}

.menu__closebtn {
  text-decoration: none;
  color: #ffffff;
  grid-area: close;
  font-size: 60px;
  margin-right: 10px;
  margin-top: 10px;
}

.menu__closebtn:hover {
  color: #ff9900;
}
