.Canvas {
  image-rendering: -moz-crisp-edges;
  image-rendering: -webkit-crisp-edges;
  image-rendering: pixelated;
  image-rendering: crisp-edges;
}

.CanvasDiv {
  overflow: auto;
  width: 100vh;
  height: 100vh;
}

.ZoomCanvasDiv {
  overflow: auto;
  width: 100vh;
  height: 100vh;
  border-left: 2px solid black;
}
